		<!-- Testimonial Section Start -->
		<section class="testimonial-area dark-version bg-color-2 section-padding" id="experience">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="section-title text-center mb-60">
                <h2 class="mb-20 white-color">Education</h2>
                <div class="horizontal-line">
                  <div class="top"></div>
                  <div class="bottom"></div>
                </div>
              </div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                              <div class="right">
                                  <div class="single-experi mb-50" data-animate="fadeInUp">
                                      <div class="left-text floatleft relative">
                                          <div class="dashed-line"></div>
                                          <h4 class="montserrat weight-medium mb-5 capitalize light-color">University of Macedonia, Greece</h4>
                                          <p class="montserrat weight-medium">2010-2014</p>
                                      </div>
                                      <div class="right-text">
                                          <i class="fa fa-pencil"></i>
                                          <h3 class="capitalize font-20 light-color">Bachelor Degree in Applied Informatics</h3>
                                          
                                      </div>
                                  </div>
                                  <div class="single-experi" data-animate="fadeInUp">
                                      <div class="left-text floatleft">
                                          <h4 class="montserrat weight-medium mb-5 capitalize light-color">ItFutures, Australia</h4>
                                          <p class="montserrat weight-medium">2014-2016</p>
                                      </div>
                                      <div class="right-text">
                                          <i class="fa fa-pencil"></i>
                                          <h3 class="capitalize font-20 light-color">ITL Foundation (IT Service Management)</h3>
                                          <p>There are many variations of passages of Lorem Ipsum available, but the majority </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
          </div>
          <div class="row text-center">
  
          </div>
        </div>
      </section>
      <!-- Testimonial Section End -->